$navBlack: #000703;
$limeGreen: #93ff89;

.navbar-custom {
  min-height: 50px;
  padding: 5px 5px 5px 5px;
  background-color: $navBlack;
  border-radius: 0px;
}


.codershaven-logo {
	
	max-height: 25px;
	margin: 10px;
	float: left;
}

.nav-item-custom {
	float: right;
	margin: 10px;
	font-size: 1.2em;
	color: $limeGreen;
}