/* imported font
font-family: 'Hind', sans-serif;
*/

// color variables 
// $lightGray: #d1d1d1;
// $white: #ffffff;
// $limeGreen: #93ff89;
// $navBlack: #000703;

$darkGray: #b7b7b7;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Hind', sans-serif;
  background-color: $darkGray;
}
